/*#region variables*/
:root {
  --main-blue-c: #48B9CA;
  --white-c: #ffffff;
  --forbidden-red-c: #c02025;
  --grey-c: #bfbfbf;
}
/*#endregion variables*/

/*#region animations*/
@keyframes incrementAppearing {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes rotateAppearing {
  0% {
    transform: scale(0) rotate(0deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  90% {
    transform: scale(1) rotate(90deg);
  }
  100% {
    transform: scale(0) rotate(90deg);
  }
}
@keyframes buttonPulse {
  0% {
    transform: scale(1) translateY(-50%);
  }
  50% {
    transform: scale(1.175) translateY(-50%);
  }
  100% {
    transform: scale(1) translateY(-50%);
  }
}
@keyframes bounceLeft {
  0%, 100% {
    transform: translateY(0) rotate(-90deg) scaleX(-1);
  }
  50% {
    transform: translateX(0.5em) rotate(-90deg) scaleX(-1);
  }
}
@keyframes bounceTop {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5em);
  }
}
/*#endregion animations*/

/*#region generalStyles*/
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: "Century Gothic", sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  color: var(--white-c);
  height: calc(var(--vh, 1vh) * 100);
  max-height: -webkit-fill-available;
  overflow: hidden;
}
img {
  display: block;
  object-fit: contain;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
}
button {
  font-family: inherit;
  font-size: inherit;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
ul {
  list-style: disc;
}
.wrapper {
  height: calc(var(--vh, 1vh) * 100);
  max-height: -webkit-fill-available;
}
.slide {
  height: 100%;
}
.slide__container {
  position: relative;
  overflow: hidden;
}
.logo {
  position: absolute;
  top: 2em;
  right: 2.5em;
  width: 16.5em;
}
.logo img {
  width: 100%;
}
.logo-decorator {
  position: absolute;
  width: 10em;
}
.logo-decorator img {
  width: 100%;
}
.logo-decorator.top {
  top: 1.5em;
  left: 2.5em;
}
.logo-decorator.bottom {
  bottom: 1.5em;
  right: 2.5em;
}
/*#endregion generalStyles*/

/*#region generalSlideStyles*/
.slide__content {
  display: flex;
  align-items: stretch;
  gap: 2em;
  padding: 6em 8.5em 4em;
  height: 100%;
}

@supports(padding: env(safe-area-inset-left)) {
  .slide__content.ios {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.slide__aside-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 44em;
  padding: 0 1em;
  color: var(--white-c);
  z-index: 1;
}
.slide__aside-content::before {
  content: '';
  position: absolute;
  top: 4em;
  left: 0;
  width: 100%;
  height: calc(100% - 8em);
  background-color: var(--main-blue-c);
  z-index: -1;
}
.slide__aside-content .photo {
  width: 90%;
  margin: 0 auto 3em;
}
.slide__aside-content p.name {
  font-size: 5.5em;
  text-align: center;
  margin-bottom: 0.5em;
}
.slide__aside-content ul {
  width: max-content;
  margin: 0 auto;
  padding-left: 2.5em;
}
.slide__aside-content ul li {
  width: max-content;
  font-size: 2.65em;
  font-weight: 700;
  margin-bottom: 0.75em;
}
.slide__aside-content ul li:last-child {
  margin-bottom: 0;
}
.slide__aside-content p.slide-numbering {
  margin-top: auto;
  text-align: center;
  font-size: 2.85em;
  color: var(--grey-c);
}

.slide__products-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(53% - 22em);
  margin-top: 4em;
  flex: 1;
  z-index: 11;
}
.slide__products-content p.error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -1.5em;
  font-size: 2.9em;
  line-height: 1.2em;
  color: var(--forbidden-red-c);
  width: max-content;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.slide__products-content p.error.visible {
  opacity: 1;
}
.slide__products-content p.note {
  position: relative;
  top: -0.15em;
  margin-top: auto;
  text-align: center;
  font-size: 2.8em;
  color: var(--grey-c);
}
.slide__products {
  position: relative;
  height: calc(100% - 22.75em);
  background: radial-gradient(circle,rgba(255, 255, 255, 1) 50%, rgba(72, 185, 202, 1) 100%);
  z-index: 3;
}
.slide__products.slick-dotted.slick-slider {
  margin-bottom: 2.4em;
}
.slide__products .slick-list {
  height: 100%;
}
.slide__products .slick-track {
  height: 100%;
}
.slide__products .slick-arrow {
  font-size: 1em;
  width: 0;
  height: 0;
  border-top: solid 7em transparent;
  border-bottom: solid 7em transparent;
  z-index: 2;
  animation: buttonPulse 2.8s infinite;
}
.slide__products .slick-arrow::before {
  display: none;
}
.slide__products .slick-prev {
  border-right: solid 4.5em var(--main-blue-c);
  left: 1.25em;
  transform-origin: left center;
}
.slide__products .slick-next {
  border-left: solid 4.5em var(--main-blue-c);
  right: 1.25em;
  transform-origin: right center;
}
.slide__products .slick-dots {
  bottom: 1.5em;
}
.slide__products .slick-dots li {
  width: 1.75em;
  height: 1.75em;
  margin: 0 1.5em;
}
.slide__products .slick-dots li button {
  width: 100%;
  height: 100%;
  background-color: var(--white-c);
  border-radius: 50%;
  padding: 0;
}
.slide__products .slick-dots li.slick-active button {
  background-color: var(--main-blue-c);
}
.slide__products .slick-dots li button::before {
  display: none;
}

.slide__products .slide__product {
  position: relative;
  height: 100%;
  padding: 0 7em 4em;
}
.slide__products .slide__product img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  max-height: calc(100% - 2em);
  max-width: calc(100% - 2em);
}
.slide__products .slide__product--1 img {
  bottom: -5.5em;
}
.slide__products .slide__product--2 img {
  bottom: -4em;
}
.slide__products .slide__product--3 img {
  transform: translateX(-55%) scale(1.05);
  bottom: -4em;
}
.slide__products .slide__product--4 img {
  bottom: -8.8em;
}
.slide__products .slide__product--5 img {
  transform: scale(0.95) translateX(-53%);
  bottom: -16em;
}
.slide__products .slide__product--6 img {
  transform: scale(0.95) translateX(-53%);
  bottom: -15em;
}
.slide__products .slide__product--7 img {
  transform: scale(0.82) translateX(-62%);
  bottom: -12em;
}
.slide__products .slide__product--8 img {
  transform: scale(0.95) translateX(-53%);
  bottom: -15em;
}
.slide__products .slide__product--9 img {
  transform: scale(0.85) translateX(-62%);
  bottom: -2.5em;
}
.slide__products .slide__product--10 img {
  transform: scale(0.95) translateX(-54%);
  bottom: -3em;
}

.slide--product-buttons {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex: 1;
}
.slide--product-buttons button {
  position: relative;
  width: 100%;
  height: calc(100% - 0.4em);
  padding: 0.6em 0.4em;
  border: solid 0.15em var(--main-blue-c);
  color: var(--main-blue-c);
  background-color: transparent;
  font-weight: 700;
  font-size: 2.7em;
  line-height: 1.2em;
  cursor: pointer;
  transition: color 0.2s linear;
}
.slide--product-buttons button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-blue-c);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.2s linear;
  z-index: -1;
}
.slide--product-buttons button:hover {
  color: var(--white-c);
}
.slide--product-buttons button:hover::before {
  transform: scaleX(1);
}

.slide__slots-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: calc(47% - 25em);
  margin-top: 4em;
  margin-bottom: 3.7em;
}
.slide__slot-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(50% - 1em);
}
.slide__slot-wrapper p {
  font-size: 3em;
  font-weight: 700;
  color: var(--white-c);
  background-color: var(--main-blue-c);
  text-align: center;
  padding: 0.2em 0;
  margin-bottom: 0.5em;
}
.slide__slot-wrapper .slide__slot {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex: 1;
  border-bottom: solid 1em var(--main-blue-c);
}
.slide__slot-wrapper .slide__slot img {
  position: relative;
  transform-origin: bottom center;
}

.slide__slot-product--3 {
  order: 1;
  width: 10em;
}
.slide__slot-product--3 img {
  transform: scale(1.5);
  bottom: -3.3em;
  left: -0.5em;
}
.slide__slot-product--1 {
  position: relative;
  left: 0.5em;
  order: 2;
  width: 11em;
}
.slide__slot-product--1 img {
  bottom: -2em;
}
.slide__slot-product--6 {
  order: 3;
  width: 16em;
}
.slide__slot-product--6 img {
  bottom: -3.5em;
}
.slide__slot-product--8 {
  order: 3;
  width: 17em;
}
.slide__slot-product--8 img {
  bottom: -4.2em;
}
.slide__slot-product--10 {
  order: 4;
  width: 10em;
}
.slide__slot-product--10 img {
  transform: scale(1.6);
  bottom: -1.5em;
}

.slide__slot.half-active .slide__slot-product img {
  -webkit-filter: drop-shadow(0 0 2.5em rgba(255, 165, 0, 0.8));
  filter: drop-shadow(0 0 2.5em rgba(255, 165, 0, 0.8));
}
.slide__slot .slide__slot-product img {
  -webkit-filter: drop-shadow(0 0 3.5em var(--main-blue-c));
  filter: drop-shadow(0 0 3.5em var(--main-blue-c));
}

.slide__modal {
  position: absolute;
  inset: 0;
  padding: 2.5em 2.5em;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  z-index: 11;
  display: none;
}
.slide__modal-content {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5em;
  height: 100%;
  background-color: var(--white-c);
}
.slide--product .slide__content {
  padding-bottom: 7em;
}
.slide--product p.slide-numbering {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.75em;
  font-size: 2.85em;
  color: var(--grey-c);
}
.slide--product-wrapper {
  width: 100%;
  background-color: transparent;
}
.slide__modal-content .close-modal {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  width: 6em;
  height: 6em;
  padding: 1em;
  z-index: 2;
}
.slide__modal-content .close-modal span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 95%;
  height: 0.5em;
  background-color: rgb(0, 0, 0);
}
.slide__modal-content .close-modal span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}
.slide__modal-content .close-modal span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.slide__modal-product {
  width: 18%;
  height: calc(50% - 1em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}
.slide__modal-product img {
  position: relative;
  transform-origin: top center;
}
.slide__modal-product p span.orange {
  color: #FF9900;
}
.slide__modal-product p span.blue {
  color: var(--main-blue-c);
}
.slide__modal-product p span.thin {
  font-weight: 400;
}
.slide__modal-product p.title {
  color: #01103C;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 0.25em;
}
.slide__modal-product p.action {
  background-color: var(--main-blue-c);
  color: var(--white-c);
  text-transform: uppercase;
  width: max-content;
  margin: 0 auto 0.25em;
  font-weight: 700;
  font-size: 1.9em;
  line-height: 1.2em;
  padding: 0.15em 0.75em;
  border-radius: 1em;
}
.slide__modal-product p.type {
  color: #01103C;
  text-align: center;
  font-size: 2.2em;
}

.slide__modal-product--1 {
  top: -2.5em;
}
.slide__modal-product--1 img {
  width: 12em;
  top: 1em;
  left: 0.35em;
  transform: scale(1.06);
}
.slide__modal-product--2 {
  top: -2.5em;
}
.slide__modal-product--2 img {
  width: 21em;
  transform: scale(1.07);
  top: 0.85em;
}
.slide__modal-product--3 {
  top: -2.5em;
}
.slide__modal-product--3 img {
  width: 16em;
  top: -1em;
  transform: scale(1.15);
}
.slide__modal-product--4 {
  top: -2.5em;
}
.slide__modal-product--4 img {
  width: 13em;
  top: 3em;
  transform: scale(1.085);
}
.slide__modal-product--5 {
  top: -2.5em;
}
.slide__modal-product--5 img {
  width: 29em;
  top: 9.5em;
}
.slide__modal-product--6, .slide__modal-product--7, .slide__modal-product--8 {
  width: 21%;
}
.slide__modal-product--9, .slide__modal-product--10 {
  width: 16%;
}
.slide__modal-product--6 {
  top: -8.8em;
}
.slide__modal-product--6 img {
  width: 28em;
  top: 7em;
}
.slide__modal-product--7 {
  top: -8.8em;
}
.slide__modal-product--7 img {
  top: 1.5em;
  width: 28em;
  transform: scale(1.09);
}
.slide__modal-product--8 {
  top: -6.4em;
}
.slide__modal-product--8 img {
  width: 28em;
  top: 8.75em;
}
.slide__modal-product--9 {
  top: -2em;
}
.slide__modal-product--9 img {
  width: 12em;
  top: 0;
}
.slide__modal-product--10 {
  top: -4em;
}
.slide__modal-product--10 img {
  top: -1em;
  width: 16.9em;
  transform: scale(1.1);
}
/*#endregion generalSlideStyles*/

/*#region sl1*/
.slide--1 .slide__aside-content p.slide-numbering {
  position: relative;
  top: 0.1em;
  margin-top: 0.75em;
}
.slide--1 .slide__aside-content button.open-modal {
  margin-top: auto;
  position: relative;
  top: -3.2em;
  width: 100%;
  padding: 0.6em 0.3em;
  border: solid 0.15em var(--white-c);
  color: var(--main-blue-c);
  background-color: var(--white-c);
  font-weight: 700;
  font-size: 2.7em;
  cursor: pointer;
  transition: color 0.2s linear;
  text-transform: uppercase;
}
.slide--1 .slide__aside-content button.open-modal::before {
  content: '';
  position: absolute;
  right: calc(50% - 0.875em);
  bottom: -2.5em;
  width: 1.75em;
  aspect-ratio: 1 / 1;
  transition: all 0.25s linear;
  pointer-events: none;
  background-image: url(../images/hand-pointer.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: bounceTop 3s ease-in-out infinite;
  filter: invert(1);
  z-index: 2;
}
.slide--1 .slide__aside-content button.open-modal.solved::before {
  opacity: 0;
}
/*#endregion sl1*/

/*#region sl2*/
.slide--2 .slide__aside-content p.slide-numbering {
  margin-top: auto
}
.slide--2 .slide__products .slide__product {
  padding-top: 9em;
}
.slide--2 .slide__products .slide__product img {
  max-height: calc(100% - 4em);
}
.slide--2 .slide__products-content {
  margin-top: 2em;
}
.slide--2 .slide__products-content button.open-modal {
  position: absolute;
  top: 0.75em;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 0.5em 0.3em;
  color: var(--main-blue-c);
  background-color: var(--white-c);
  font-weight: 700;
  font-size: 2.65em;
  line-height: 1.2em;
  cursor: pointer;
  transition: color 0.2s linear;
  text-transform: uppercase;
  z-index: 4;
}
.slide--2 .slide__products-content button.open-modal::before {
  content: '';
  position: absolute;
  right: 1em;
  top: 0.25em;
  width: 1.75em;
  aspect-ratio: 1 / 1;
  transition: all 0.25s linear;
  pointer-events: none;
  background-image: url(../images/hand-pointer.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: bounceLeft 3s ease-in-out infinite;
  filter: invert(66%) sepia(40%) saturate(749%) hue-rotate(175deg) brightness(88%) contrast(90%);
  z-index: 2;
}
.slide--2 .slide__aside-content button.open-modal.solved::before {
  opacity: 0;
}
.slide--2 .slide__slots-content {
  margin-top: 2em;
}
.slide--2 .slide__products {
  height: calc(100% - 22em);
}
.slide--2 .slide__products.slick-dotted.slick-slider {
  margin: 0 0 1.5em;
}

.slide--2 .slide__slot-product--1 {
  width: 7em;
  transform-origin: bottom center;
  transform: scale(1.2);
}

.slide--2 .slide__products-content p.error {
  top: 3em;
  z-index: 4;
}
/*#endregion sl2*/

/*#region forbiddenBlock*/
.warning {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  transform: scale(0.8);
  color: var(--forbidden-red-c);
  font-size: 4em;
  animation: incrementAppearing 2s ease-in-out;
  z-index: 3;
}
.warning strong {
  display: inline-block;
  font-weight: 700;
}
.warning > p {
  font-size: 1.1em;
  margin-bottom: 1em;
  text-align: center;
}
.warning > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 2em;
}
.warning > div strong {
  margin-bottom: 0.8em;
  font-size: 1.3em;
}
.warning > div svg {
  width: 4em;
  fill: var(--forbidden-red-c);
}
.warning button {
  width: auto;
  margin: 0 auto;
  padding: 0.7em 1.4em;
  background-color: var(--forbidden-red-c);
  border: 0.3vw solid var(--forbidden-red-c);
  color: var(--white-c);
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.4s linear;
}
.warning button:hover {
  opacity: 0.8;
}
/*#endregion forbiddenBlock*/

/*#region rotateBlock*/
.rotate__block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 10em 3em 10em 12em;
  background-color: var(--white-c);
  color: #000;
  z-index: 15;
}
.rotate__block.visible {
  display: flex;
}
.rotate__block img {
  width: 30%;
  margin: 0 0 3em 19em;
}
.rotate__block-part:nth-child(1) {
  margin-bottom: 10em;
}
.rotate__block-part:nth-child(2) img {
  width: 40%;
  margin-left: 17em;
  animation: rotateAppearing 5s ease-in-out infinite;
}
.rotate__block p {
  position: relative;
  width: max-content;
  font-size: 3.5em;
}
.rotate__block p::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1em;
  font-weight: 700;
  font-family: inherit;
  font-size: 1.7em;
}
.rotate__block-part:nth-child(1) p::before {
  content: '1';
}
.rotate__block-part:nth-child(2) p::before {
  content: '2';
}
/*#endregion rotateBlock*/

/*#region arrows*/
.arrows {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -52.5%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99.7vw;
  z-index: 10;
}
.arrow {
  padding: 2.25em;
  width: 9.5em;
  height: 19em;
  transform: scale(1);
  transition: transform 0.4s linear;
}
.arrow.hidden {
  transform: scale(0);
  pointer-events: none;
}
.arrow:first-child {
  padding-left: 0.5em;
  transform-origin: left center;
}
.arrow:last-child {
  padding-right: 0.5em;
  transform-origin: right center;
}
.arrow svg {
  width: 100%;
  height: 100%;
  stroke: rgb(150, 150, 150);
  stroke-width: 0.75em;
  fill: rgba(150, 150, 150, 0.5);
}
/*#endregion arrows*/
